<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660344536344-ac4ing4qu0veo5hg97a9bqmjtftbv8eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660344536344-ac4ing4qu0veo5hg97a9bqmjtftbv8eo</string>
	<key>API_KEY</key>
	<string>AIzaSyAOkrIiKnWfmGyQLskWkZ1dAut_oo_uK_c</string>
	<key>GCM_SENDER_ID</key>
	<string>660344536344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MVN271192.mShare</string>
	<key>PROJECT_ID</key>
	<string>mshare-68f04</string>
	<key>STORAGE_BUCKET</key>
	<string>mshare-68f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:660344536344:ios:10ce6b21bbc0c5a5</string>
	<key>DATABASE_URL</key>
	<string>https://mshare-68f04.firebaseio.com</string>
</dict>
</plist>
